@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

$font:'Patrick Hand', cursive;
:root{
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
}